{% extends 'myexplorer/base_sampler.html' %}   

{% block title %}Reports{% endblock %}

{% block head_extra2 %}

    <script type="text/javascript">

  
    </script>

{% endblock %}

{% block right_side %}

    Number of Reports: {{reports|length}}
    <table class="table table-striped table-bordered table-condensed table-hover">
    <tr>
        <th>Report</th>
        <th>Label</th>
        <th>sampleA</th>
        <th>sampleB</th>
    </tr>
    {% for rr in reports%}
        <tr>
            <td><a href='{% url 'myexplorer:html_reports' path=rr.get_link %}'>{{rr.get_link|safe}}</a></td>
            <td>{{rr.comparison.spropertyB.label}}</td>
            <td>{{rr.comparison.spropertyA.sample}}</td>
            <td>{{rr.comparison.spropertyB.sample}}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
